<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Image search abstraction</h1>
          <form action="/api/imagesearch/query" method="post">
            <h3>Enter Search Query</h3>
            <p><code>POST /api/imagesearch/query</code></p>
            <input id="search" type="text" name="query" placeholder="query">
            <input type="submit" value="Submit">
          </form>
      </div>
   </body>

</html>
